.footer {
	margin-top: auto;
	background: #067ebf;
	padding: 50px 0;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
	}
	&__container {
		@include flex(space-between, center, wrap, 10px);
		@include mob {
			justify-content: center;
			text-align: center;
		}
	}
	&__menu {
		@include flex(null, null, null, 20px);
	}
}