.header {
	padding: 10px 0;
	background: #067ebf;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
	}
	&__container {
		@include flex(space-between, center, null, 10px);
	}
	&__menu {
		@include flex(null, null, null, 20px);
	}
	.search {
		&__form {
			width: 600px;
			position: relative;

			input {
				width: 100%;
				padding-left: 10px;
				border: none;
				height: 30px;
			}
			button {
				background: var(--accent);
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				border: none;
				cursor: pointer;
			}
		}
	}
}