@import "main/_mixins";
:root {
	--container-width: 1260px;
	--transition: 0.3s ease;
	--default-font-family: 'Gilroy';
	--heading-font-family: 'Gilroy';
	--sp: 70px; // section padding
	--accent: #067ebf; // accent color
	--bg: #fff; // main bg color
	--text-color: #0D2433; // text color
	--fz-default: 18px; // default font size
	--h1: 60px; // h1 font size
	--h2: 50px; // h2 font size
	--h3: 40px; // h3 font size
	--h4: 30px; // h3 font size
	--l: 27px; // large font size
	--m: 21px; // medium font size
	--s: 16px; // small font size
	@include tablet {
		--container-width: 760px;
		--sp: 64px;
		--fz-default: 16px;
		--h1: 40px;
		--h2: 30px;
		--h3: 20px;
		--h4: 18px;
		--l: 20px;
		--m: 18px;
		--s: 14px;
	}
	@include mob {
		--sp: 50px;
		--h1: 30px;
		--h2: 25px;
		--h3: 20px;
		--h4: 18px;
	}
}