@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium/Gilroy-Medium.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Black/Gilroy-Black.eot");
  src: url("../fonts/Gilroy-Black/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black/Gilroy-Black.ttf") format("truetype"), url("../fonts/Gilroy-Black/Gilroy-Black.svg#Gilroy") format("svg");
}

:root {
  --container-width: 1260px;
  --transition: 0.3s ease;
  --default-font-family: "Gilroy";
  --heading-font-family: "Gilroy";
  --sp: 70px;
  --accent: #067ebf;
  --bg: #fff;
  --text-color: #0D2433;
  --fz-default: 18px;
  --h1: 60px;
  --h2: 50px;
  --h3: 40px;
  --h4: 30px;
  --l: 27px;
  --m: 21px;
  --s: 16px;
}

body {
  font: 400 var(--fz-default)/140% var(--default-font-family), Helvetica, Arial, sans-serif;
  background: var(--bg);
  min-width: 360px;
  color: var(--text-color);
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

[class*=__container] {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 10px;
  width: 100%;
}

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important;
}

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99FF99 !important;
}

.breadcrumbs {
  padding: 10px 0;
  font-size: 14px;
}

.breadcrumbs a {
  text-decoration: none;
}

h1 {
  font: 700 var(--h1)/106% var(--heading-font-family);
  text-transform: uppercase;
}

h2 {
  font: 700 var(--h2)/125% var(--heading-font-family);
  text-transform: uppercase;
}

h3 {
  font: 700 var(--h3)/130% var(--heading-font-family);
  text-transform: uppercase;
}

h4 {
  font: 700 var(--h4)/133% var(--heading-font-family);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.btn {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

.subm {
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1260px) {
  :root {
    --container-width: 760px;
    --sp: 64px;
    --fz-default: 16px;
    --h1: 40px;
    --h2: 30px;
    --h3: 20px;
    --h4: 18px;
    --l: 20px;
    --m: 18px;
    --s: 14px;
  }
}

@media (max-width: 760px) {
  :root {
    --sp: 50px;
    --h1: 30px;
    --h2: 25px;
    --h3: 20px;
    --h4: 18px;
  }
}